.show-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  width: 24%;
  margin-left: 15px;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 5px;
  transition: transform 500ms ease-out;
  background-color: #fcfaff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Slight shadow to lift the cards */
  color: #364066;
}

.show-card:hover {
  transform: scale(1.1);
  cursor: pointer;
  z-index: 1000;
}

.no-hover:hover {
  transform: none;
}

.profile-picture-wrapper {
  /* border: solid green; */
  text-align: center;
  border-radius: 15px;
}

.comment-wrapper {
  border: solid rgb(175, 13, 13);
  width: 90%;
  display: flex;
  justify-content: space-around;
  padding: 15px;
  gap: 12px;
}

.profile-picture-wrapper img {
  width: 140px;
  border: solid green;
  border-radius: 8px;
}
.comment-wrapper p {
  font-size: clamp(0.8rem, 1.1vw, 1.5rem);
}

/* Extra small devices (phones, less than 600px) */
@media only screen and (max-width: 600px) {
  /* Your styles for phones */
  .show-card {
    width: 60%;
    align-items: center;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 768px) {
  /* Your styles for small devices */
  .show-card {
    width: 60%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 992px) {
  /* Your styles for tablets */
  .show-card {
    width: 45%;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  /* Your styles for laptops */
  .show-card {
    width: 29%;
  }
}
