.show-card {
  position: relative;
  border: dotted green;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  width: 25%;
  margin-left: 15px;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 5px;
  transition: transform 500ms ease-out;
}

.show-card:hover {
  transform: scale(1.1);
  cursor: pointer;
  z-index: 1000;
}

.no-hover:hover {
  transform: none;
}

.profile-picture-wrapper {
  /* border: solid green; */
  text-align: center;
  border-radius: 15px;
}

.comment-wrapper {
  border: solid rgb(175, 13, 13);
  width: 90%;
  display: flex;
  justify-content: space-around;
  padding: 15px;
  gap: 12px;
}

.profile-picture-wrapper img {
  width: 140px;
  border: solid green;
  border-radius: 8px;
}
