.form-wrapper {
  width: 80%;
  text-align: center;
  box-shadow: none !important;
  /* border: solid green; */
  font-size: 2rem;
}

.new-concert-header-wrapper {
  margin-bottom: 15px;
}

.field-set {
  display: flex;
  gap: 20px;
}

.field-set input {
  width: 50%;
  padding: 0.75rem;
  margin-bottom: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  outline: none;
  box-sizing: border-box;
  transition: border-color 0.3s ease;
  margin-left: 15px;
}

.field-set select {
  width: 40%;
  padding: 0.75rem;
  margin-bottom: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  outline: none;
  box-sizing: border-box;
  transition: border-color 0.3s ease;
  margin-left: 8px;
}

.field-set .stars {
  display: flex; /* Align stars in a row */
  width: 50%;
  justify-content: space-around;
}

.field-set .star {
  font-size: 3rem; /* Adjust the size of the stars */
  color: #cec8c8; /* Default star color */
  cursor: pointer; /* Change cursor to pointer */
  transition: color 0.3s ease; /* Smooth transition */
  position: relative;
  transform: translateY(-15px); /* This will move all the stars up by 10px */
}

.field-set .star.filled {
  color: gold; /* Filled star color */
}
.venue-input {
  margin-left: 5px !important;
}

/* Focus state for input and select */
.field-set input:focus,
.field-set select:focus {
  border-color: #90c6ff; /* Highlight border on focus */
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Subtle shadow on focus */
}

.field-set input[type='date'] {
  width: 40%;
  margin-left: 26px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  animation: fadeIn 0.3s forwards;
}

.modal-content {
  background: white;
  border-radius: 8px;
  width: 38%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
  transform: translateY(-20px);
  animation: slideIn 0.3s forwards;
  color: black;
  background-color: #f4feff;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@keyframes slideIn {
  to {
    transform: translateY(0);
  }
}

.close-btn {
  position: absolute;
  top: 9px;
  right: 12px;
  background-color: transparent;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.add-btn,
.save-btn {
  padding: 5px 50px 5px 50px !important;
}

/* Extra small devices (phones, less than 600px) */
@media only screen and (max-width: 600px) {
  .modal-content {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .form-wrapper {
    padding: 12px;
    width: 100%;
  }

  .field-set input {
    width: 100%;
    margin-bottom: 8px;
  }

  select {
    width: 100%;
    margin-bottom: 8px;
  }

  .add-concert-btn-wrapper button {
    width: 100%;
  }

  .ratings {
    display: flex;
    margin-bottom: 8px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 768px) {
  /* Your styles for small devices */
  .modal-content {
    width: 80%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 992px) {
  /* Your styles for tablets */
  .modal-content {
    width: 70%;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  /* Your styles for laptops */
  .modal-content {
    width: 50%;
  }
}
