.main-view-concert-wrapper {
  width: 100%;
  height: 87vh;
  margin: 10px auto 0 auto;
  text-align: center;
  font-size: 1.5rem;
  padding: 15px;
  background-color: #364066;
}

.concert-wrapper {
  width: 35%;
  margin: 150px auto 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(46, 44, 44, 0.418) 0px 5px 15px;
  border-radius: 12px;
  background-color: white;
  padding: 12px;
}

p span {
  font-weight: bold;
}

.artist-image-wrapper {
  display: flex;
  justify-content: center;
}

.artist-image {
  margin-top: 8px;
  width: 35%;
  border-radius: 8px;
  transition: 500ms transform ease-out;
}

.artist-image:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.error-message {
  border: solid red;
  width: 40%;
  text-align: center;
  margin: 200px auto 0 auto;
  font-size: 3rem;
  padding: 20px;
}
.view-concert-info-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.view-concert-info {
  margin-bottom: 5px;
}

.view-concert-rating-wrapper {
  /* border: solid green; */
  display: flex;
  width: 80%;
  justify-content: center;
}

.view-concert-rating-text {
  font-weight: bold;
  margin-right: 2px;
}

.view-concert-info p span {
  margin-right: 5px;
}

.view-concert-stars-wrapper {
  display: flex;
  align-items: flex-start;
}

.view-concert-star {
  font-size: 2.5rem;
  color: gold;
  margin-top: -17px;
}

/* Extra small devices (phones, less than 600px) */
@media only screen and (max-width: 600px) {
  /* Your styles for phones */
  .concert-wrapper {
    width: 100%;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 768px) {
  /* Your styles for small devices */
  .concert-wrapper {
    width: 100%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 992px) {
  /* Your styles for tablets */
  .concert-wrapper {
    width: 100%;
  }
}
