.concert-wrapper {
  border: solid black;
  width: 45%;
  margin: 200px auto 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

p span {
  font-weight: bold;
}

.artist-image-wrapper {
  display: flex;
  justify-content: center;
}

.artist-image {
  margin-top: 8px;
  width: 35%;
  border-radius: 8px;
  transition: 500ms transform ease-out;
}

.artist-image:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.error-message {
  border: solid red;
  width: 40%;
  text-align: center;
  margin: 200px auto 0 auto;
  font-size: 3rem;
  padding: 20px;
}

/* Extra small devices (phones, less than 600px) */
@media only screen and (max-width: 600px) {
  /* Your styles for phones */
  .concert-wrapper {
    width: 100%;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 768px) {
  /* Your styles for small devices */
  .concert-wrapper {
    width: 100%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 992px) {
  /* Your styles for tablets */
  .concert-wrapper {
    width: 100%;
  }
}
