.my-show-wrapper {
  border: solid black;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 15px;
}

.button-wrapper {
  margin: 12px auto 0 auto;
  /* border: solid black; */
}

.card-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}
