.my-show-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 15px;
  background: linear-gradient(135deg, #001f3f, #1c507e);
  min-height: 87vh;
  margin: 10px auto 0 auto;
}

.button-wrapper {
  margin: 12px auto 0 auto;
}

.button-wrapper button {
  font-size: 1.5rem;
}

.card-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}

.plus-btn {
  width: 40px; /* Adjust size */
  height: 40px;
  background-size: cover;
  background-position: center;
  border: none; /* Remove default button border */
  background-color: transparent; /* Remove button background */
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform ease-out 500ms;
}

.plus-btn:hover {
  transform: scale(1.2);
  cursor: pointer;
}

/* Extra small devices (phones, less than 600px) */
@media only screen and (max-width: 600px) {
  /* Your styles for phones */
  .card-wrapper {
    flex-direction: column;
    align-items: center;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 768px) {
  /* Your styles for small devices */
  .card-wrapper {
    flex-direction: column;
    align-items: center;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 992px) {
  /* Your styles for tablets */

  .card-wrapper {
    flex-direction: column;
    align-items: center;
  }
}
