/* Keyframes for scale animation */
@keyframes scaleUp {
  0% {
    transform: scale(0); /* Start from a small scale */
    opacity: 0; /* Start fully transparent */
  }
  100% {
    transform: scale(1); /* End at full size */
    opacity: 1; /* End fully visible */
  }
}

.textarea-wrapper {
  position: relative;
  width: 100%;
}
textarea {
  width: 80%;
  height: 50%;
}

.post-btn {
  position: absolute;
  bottom: 8px;
  right: 116px;
}
.comment-wrapper {
  border: solid blue;
  display: flex;
  width: 70%;
}
.comment-pic {
  width: 60px;
  border: solid green;
  border-radius: 22px;
}

/* Position the modal relative to the .show-card container */
.comments-modal {
  position: absolute;
  top: 60%; /* Position the modal just below the concert post */
  left: 12px;
  z-index: 1000;
  width: 100%;
  animation: scaleUp 0.3s ease-out; /* Apply the scale animation */
  transform-origin: top center; /* Set origin for scaling */
}

.comments-modal-content {
  background-color: white;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 600px;
  border-radius: 10px;
  max-height: 400px;
  overflow-y: auto;
  position: relative;
}

.close-modal {
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.comments-list {
  max-height: 300px;
  overflow-y: auto;
}

.comment-container {
  border: dotted green;
  display: flex;
  gap: 5px;
}

.author-info-wrapper {
  border: yellow solid;
  display: flex;
  gap: 13px;
  width: 100%;
  justify-content: space-around;
  /* flex-direction: column; */
}

.author-name {
  font-weight: bold;
}

@media only screen and (max-width: 600px) {
  /* Your styles for phones */
  .comment-container {
    flex-direction: column;
    align-items: center;
  }
  .comment-wrapper {
    width: 80%;
    flex-direction: column;
  }

  .comments-modal {
    left: 35px;
  }

  .comment-container {
    width: 100%;
  }

  .author-info-wrapper {
    flex-direction: column;
    width: 100%;
    align-items: center;
  }

  .author-info-wrapper button {
    width: 100%;
    /* font-size: .4rem; */
  }

  .comment-pic {
    width: 55px;
    height: 55px;
  }
}

textarea {
  width: 100%;
}

.post-btn {
  right: 35px;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 768px) {
  /* Your styles for small devices */
  .comments-modal {
    left: 40px;
  }

  .comment-container {
    display: flex;
    justify-content: space-around;
  }

  .author-info-wrapper {
    flex-direction: column;
  }

  .comment-pic {
    width: 55px;
    height: 55px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 992px) {
  /* Your styles for tablets */
  .comments-modal {
    left: 40px;
  }
}
