.nav-bar-wrapper {
  /* border: solid black; */
  display: flex;
}

.links-wrapper {
  display: flex;
  width: 80%;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.links-wrapper a:hover {
  color: #20ddfc;
}

.links-wrapper a,
.nav-bar-wrapper h1 a {
  color: #2e273c;
  text-decoration: none;
  margin-left: 18px;
}

/* Extra small devices (phones, less than 600px) */
@media only screen and (max-width: 600px) {
  .links-wrapper {
    flex-direction: column;
    gap: 2px;
    width: 100%;
    margin: 0 auto 0 auto;
    justify-content: center;
  }

  .nav-bar-wrapper h1 a {
    display: none;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 768px) {
  /* Your styles for small devices */
  .links-wrapper {
    width: 100%;
  }

  .nav-bar-wrapper h1 a {
    font-size: 1.2rem;
  }
}
